user  nginx;
# nginxのworkerプロセスの数を設定します。通常はCPUのコア数以下に設定します。
worker_processes  <%= node['nginx']['default']['nginx.conf']['worker_procesces'] %>;

error_log  <%= node['nginx']['default']['nginx.conf']['error_log'] %>;
pid        /var/run/nginx.pid;


events {
    # 一つのworkerプロセスが同時に処理できる最大コネクション数を設定します。
    worker_connections  <%= node['nginx']['default']['nginx.conf']['worker_connections'] %>;
}

#----------------------------------------
# アクセス全般に対してのデフォルト設定
#----------------------------------------
http {
    #---------------------------
    # 基本設定
    #---------------------------
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    charset       <%= node['nginx']['default']['nginx.conf']['charset'] %>;

    #----------------------------
    # ログフォーマットの設定
    #----------------------------
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    # アクセスログの設定
    access_log  <%= node['nginx']['default']['nginx.conf']['access_log'] %>;

    # vagrantの場合はここをOFFにしないと更新ファイルが反映されない場合がある
    # 参考：http://qiita.com/shoyan/items/12389d5beaa8695b1a53
    sendfile        <%= node['nginx']['default']['nginx.conf']['sendfile'] %>;
    #tcp_nopush     on;

    keepalive_timeout  <%= node['nginx']['default']['nginx.conf']['keepalive_timeout'] %>;

    #-----------------------------
    # Gzip圧縮の設定
    #-----------------------------
    # Gzip圧縮をONにする
    gzip  on;
    gzip_http_version 1.1;
    # Gzip圧縮レベル（通常は１でよい。それ以上はあまり効果無し）
    gzip_comp_level   1;
    # proxy 経由でのアクセス時の gzip 圧縮の設定
    gzip_proxied      any;
    # httpヘッダーに"Vary: Accept-Encoding"がつくようになる
    gzip_vary         on;
    # 圧縮されたレスポンスを格納するために使うバッファ数とバッファサイズ
    gzip_buffers      4 8k;
    # 1000バイト以上のファイルでGzip圧縮を有効にする
    gzip_min_length   1000;
    # 圧縮を有効にするMINEタイプ（text/htmlは常時圧縮対象となるので、指定不要）
    gzip_types        text/plain
                      text/xml
                      text/css
                      text/javascript
                      application/xml
                      application/xhtml+xml
                      application/rss+xml
                      application/atom_xml
                      application/javascript
                      application/x-javascript
                      application/x-httpd-php;
    # IE1～6(特に6は不安定な場合があるらしい)のでgzip圧縮を無効にする
    gzip_disable      "MSIE [1-6]\.";
    # NetscapeもGzip圧縮を無効にする
    gzip_disable      "Mozilla/4";


    #-----------------------------
    # その他の設定
    #-----------------------------
    # 413 Request Entity Too Largeが出る場合があるので大きめに設定しておく
    #client_max_body_size    10m;
    #client_body_buffer_size 256k;

    # nginxのバージョン情報を隠す
    server_tokens off;
    # クライアントがリクエストしてきたHostヘッダの文字列をLocationのホスト名として使う
    server_name_in_redirect off;

    # 個別設定ファイルの読み込み
    include /etc/nginx/conf.d/*.conf;
}