#-----------------------------
# フロントエンドの設定
#-----------------------------
server {
    #--------------------
    # 基本設定
    #--------------------
    listen <%= node['nginx']['toslove']['toslove.conf']['listen'] %>;
    server_name  <%= node['nginx']['toslove']['toslove.conf']['server_name'] %>;

    # ドキュメントルートの設定
    root <%= node['nginx']['toslove']['toslove.conf']['root'] %>;
    index index.html index.htm index.php;

    # アクセスログの設定
    access_log <%= node['nginx']['toslove']['toslove.conf']['access_log'] %>;
    # エラーログの設定
    error_log <%= node['nginx']['toslove']['toslove.conf']['error_log'] %>;

    location / {
        try_files $uri $uri/ /index.php?q=$uri&$args;
    }

    location ~ \.php$ {
        try_files                $uri = 404;
        include                  /etc/nginx/fastcgi_params;
        #fastcgi_pass            127.0.0.1:9000;
        fastcgi_pass             unix:/var/run/php-fpm.sock;

        fastcgi_index            index.php;
        fastcgi_split_path_info  ^(.+\.php)(/.+)$;

        fastcgi_param            SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param            PATHINFO        $fastcgi_path_info;
        fastcgi_param            PATH_TRANSLATED $document_root$fastcgi_path_info;
    }

    error_page 404 /index.php;

    #--------------------
    # 静的ファイル設定
    #--------------------
    # 画像やCSSにはキャッシュの有効期限を設定＆アクセスログOFF
    location ~ \.(html|css|js|jpe?g|png|gif|svg|mpg|flv|swf)$ {
        expires 10d;
        access_log off;
        break;
    }

    # .gitや.htaccessにはアクセス禁止
    location ~ /\.(ht|git|svn) {
        deny all;
    }

    # faviconへのアクセスは記録しない
    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    # robots.txtへのアクセスは記録しない
    location = /robots.txt {
        access_log off;
        log_not_found off;
    }
}